/* kataxreza.ru */
* { padding: 0; margin: 0; max-heigth: 91534em; word-wrap: break-word; max-width: 100%; }
html { font-size: 100%; }
img { display: inline-block; vertical-align: top; margin: 0.7em 0; }
iframe { display: inline-block; vertical-align: top; margin: 0.7em 0; }
.iver { width: 20em; }
.ihor { height: 20em; }
.iquad { width: 24em; }
.video { width: 24em; height: 18em; }
pre { font-family: inherit; white-space: pre-wrap; }
.icon { margin: 0.4em 0.2em 0.4em 0.2em; width: 1.6em; height: 1.6em; vertical-align: bottom; }
.hat, .inner1, .inner2 { display: block; text-align: center; width: 100%; }
.hat, .menu, .foot { background-color: #222A0A; text-align: center; }
.hat, .menuitem, .menu { color: #F5ECCE; }
.hatdiv { text-align: center; padding: 0 1em 1em 1em; vertical-align: bottom; }
.menu { padding: 0 1em 0.7em 1em; }
.foot { color: #8A7050; padding: 0.5em; }
.inner1 { background-color: #F5ECCE; }
.inner2 { background-color: #E0D8B9; }
.innerdiv, .hatdiv, .history { width: auto; display: inline-block; text-align: center; }
.innerdiv, .history { text-align: left; margin: 0.7em; vertical-align: top; }
.history { max-width: 40em; }
h2 { padding: 6px; }

